
<div class="content-header fixed-right">
  <div class="container-fluid">
    <div class="row mb-2">
        
      <div class="col-md-12 col-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/users">Users</a></li>
          <li class="breadcrumb-item active">Type</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt-4">

  <!-- Form Create/Edit -->
   <!-- Formulario recaudos -->
   <form (submit)="userTypeFormAction()" [formGroup]="userForm">
    <div class = "row justify-content-center pt-2">

      <!-- name -->
      <div class = "col-md-4">
        <div class = "col-md-12">
            
          <div class="col-md-12 col-12" appearance="fill">
            <label for="name" class="form-label">Name*</label>
            <input type="text" class="form-control" formControlName="name" matInput name="name" id="name" placeholder="Admin1/Employee/Customer">
            <div class="text-danger" *ngIf="userForm.controls['name'].invalid && (userForm.controls['name'].touched || userForm.controls['name'].dirty)">
              <span *ngIf="userForm.controls['name'].errors?.['required']">This is required</span>
            </div>
          </div>
            
        </div>
      </div>

      <!-- customer -->
      <div class = "col-md-4 align-content-end">
        <div class = "col-md-12">
            
          <div class="form-check form-switch col-md-12 col-12" appearance="fill">
            <label for="customer" class="form-label">Customer*</label>
            <input type="checkbox" role="switch" class="form-check-input" formControlName="customer" matInput name="customer" id="customer" placeholder="Phones/Figures/Video Games">
            <div class="text-danger" *ngIf="userForm.controls['customer'].invalid && (userForm.controls['customer'].touched || userForm.controls['customer'].dirty)">
              <span *ngIf="userForm.controls['customer'].errors?.['required']">This is required</span>
            </div>
          </div>
            
        </div>
      </div>

      <!-- admin -->
      <div class = "col-md-4 pt-2 align-content-end">
        <div class = "col-md-12">

          <div class="form-check form-switch col-md-12 col-12" appearance="fill">
            <label for="admin" class="form-label">Admin*</label>
            <input type="checkbox" role="switch" class="form-check-input" formControlName="admin" matInput name="admin" id="admin" placeholder="Phones/Figures/Video Games">
            <div class="text-danger" *ngIf="userForm.controls['customer'].invalid && (userForm.controls['admin'].touched || userForm.controls['admin'].dirty)">
              <span *ngIf="userForm.controls['admin'].errors?.['required']">This is required</span>
            </div>
          </div>
            
        </div>
      </div>

      <!-- description -->
      <div class = "col-md-12" >
        <div class = "col-md-12">

          <div class="col-md-12 col-12" appearance="fill">
            <label for="description" class="form-label">Description*</label>
            <textarea class="form-control" matInput formControlName="description" name="description" id="description" [maxLength]="250"></textarea>
            <div class="text-danger" *ngIf="userForm.controls['description'].invalid && (userForm.controls['description'].touched || userForm.controls['description'].dirty)">
              <span *ngIf="userForm.controls['description'].errors?.['description']">This is required</span>
            </div>
          </div>
          
        </div>
      </div>

      <div class = "col-md-2 mt-4">
        <input class="btn btn-success" type="submit" [disabled]="!userForm.valid" value="{{showCancel ? 'Modify User' : 'Add User'}}">
      </div>

      <div class = "col-md-2 mt-4" *ngIf="showCancel">
        <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel
          <span class="fas fa-ban btn-success"></span>
        </button>
      </div> 

    </div>
  </form>
  
  <!-- List Table -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Customer</th>
        <th scope="col">Admin</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(item of tasks;track item){
      <tr>
        <th scope="row">{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.description}}</th>
        <th class="text-center">
          <button type="button" class="btn {{item.customer == true  ? 'btn-success' : 'btn-danger'}} mx-2">
            <span class="{{item.customer == true  ? 'fas fa-check' : 'fas fa-times'}}"></span>
          </button>
        </th>
        <th class="text-center">
          <button type="button" class="btn {{item.admin == true  ? 'btn-success' : 'btn-danger'}} mx-2">
            <span class="{{item.admin == true  ? 'fas fa-check' : 'fas fa-times'}}"></span>
          </button>
        </th>
        <th class="text-center">
          <button type="button" class="btn {{item.status == true  ? 'btn-success' : 'btn-danger'}} mx-2" (click)="deleteUserType(item)">
            <span class="{{item.status == true  ? 'fas fa-check' : 'fas fa-times'}}"></span>
          </button>
        </th>
        <th class="text-center">
          <button type="button" class="btn btn-primary mx-2" (click)="editUserType(item)">Edit</button>
          <!-- <button type="button" class="btn btn-danger mx-2">Delete</button> -->
        </th>
      </tr>
      }
    </tbody>
  </table>

  <router-outlet />
</div>

