
<div class="content-header fixed-right">
  <div class="container-fluid">
    <div class="row mb-2">
        
      <div class="col-md-12 col-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/Products">Products</a></li>
          <li class="breadcrumb-item active">Type</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt-4">

  <!-- Form Create/Edit -->
   <!-- Formulario recaudos -->
   <form (submit)="productTypeFormAction()" [formGroup]="productForm">
    <div class = "row justify-content-center pt-2">

      <!-- name -->
      <div class = "col-md-4">
        <div class = "col-md-12">
            
          <div class="col-md-12 col-12" appearance="fill">
            <label for="name" class="form-label">Name*</label>
            <input type="text" class="form-control" formControlName="name" matInput name="name" id="name" placeholder="Phones/Figures/Video Games">
            <div class="text-danger" *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].touched || productForm.controls['name'].dirty)">
              <span *ngIf="productForm.controls['name'].errors?.['required']">This is required</span>
            </div>
          </div>
            
        </div>
      </div>

      <!-- description -->
      <div class = "col-md-8" >
        <div class = "col-md-12">

          <div class="col-md-12 col-12" appearance="fill">
            <label for="description" class="form-label">Description*</label>
            <textarea class="form-control" matInput formControlName="description" name="description" id="description" [maxLength]="250"></textarea>
            <div class="text-danger" *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].touched || productForm.controls['description'].dirty)">
              <span *ngIf="productForm.controls['description'].errors?.['description']">This is required</span>
            </div>
          </div>
          
        </div>
      </div>

      <div class = "col-md-2 mt-4">
        <input class="btn btn-success" type="submit" [disabled]="!productForm.valid" value="{{showCancel ? 'Modify Product' : 'Add Product'}}">
      </div>

      <div class = "col-md-2 mt-4" *ngIf="showCancel">
        <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel
          <span class="fas fa-ban btn-success"></span>
        </button>
      </div> 

    </div>
  </form>
  
  <!-- List Table -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(item of tasks;track item){
      <tr>
        <th scope="row">{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.description}}</th>
        <th class="text-center">
          <button type="button" class="btn {{item.status == true  ? 'btn-success' : 'btn-danger'}} mx-2" (click)="deleteProductType(item)">
            <span class="{{item.status == true  ? 'fas fa-check' : 'fas fa-times'}}"></span>
          </button>
        </th>
        <th class="text-center">
          <button type="button" class="btn btn-primary mx-2" (click)="editProductType(item)">Edit</button>
          <!-- <button type="button" class="btn btn-danger mx-2">Delete</button> -->
        </th>
      </tr>
      }
    </tbody>
  </table>

  <router-outlet />
</div>

